<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">category</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'category.pageTitle' | translate }}</h1>
        <p>{{ 'category.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-stroked-button color="primary" (click)="reloadPage()">
          <mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  @if (loading) {
    <div class="ll-page__loading">
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    </div>
  } @else {
    <mat-card class="ll-page__body" appearance="outlined">
      <mat-card-content>
        <app-statistics-category [categoryI18n]="categoryI18n"></app-statistics-category>

        <mat-tab-group animationDuration="200ms" mat-stretch-tabs="false" class="ll-tabs">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="ll-tab__icon">insights</mat-icon> {{ 'ui.overview' | translate }}
            </ng-template>
            <div class="ll-tab__content">
              <div class="ll-stat-charts">
                <mat-card appearance="outlined">
                  <mat-card-header><mat-card-title>{{ 'category.chartByCategory' | translate }}</mat-card-title></mat-card-header>
                  <mat-card-content>
                    <div class="ll-stat-chart">
                      <div class="ll-stat-chart__title"><mat-icon>bar_chart</mat-icon> By Category</div>
                      @for (item of barChartData; track item.name) {
                        <div class="ll-stat-bar">
                          <span class="ll-stat-bar__label">{{ item.name }}</span>
                          <mat-progress-bar mode="determinate" [value]="getPercent(item.value, barChartData)"></mat-progress-bar>
                          <span class="ll-stat-bar__value">{{ item.value }}</span>
                        </div>
                      }
                    </div>
                  </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined">
                  <mat-card-header><mat-card-title>{{ 'category.chartDistribution' | translate }}</mat-card-title></mat-card-header>
                  <mat-card-content>
                    <div class="ll-stat-chart">
                      <div class="ll-stat-chart__title"><mat-icon>pie_chart</mat-icon> Distribution</div>
                      @for (item of pieChartData; track item.name) {
                        <div class="ll-stat-bar">
                          <span class="ll-stat-bar__label">{{ item.name }}</span>
                          <mat-progress-bar mode="determinate" [value]="getPercent(item.value, pieChartData)"></mat-progress-bar>
                          <span class="ll-stat-bar__value">{{ item.value }}</span>
                        </div>
                      }
                    </div>
                  </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined">
                  <mat-card-header><mat-card-title>{{ 'category.chartTrend' | translate }}</mat-card-title></mat-card-header>
                  <mat-card-content>
                    <div class="ll-stat-chart">
                      <div class="ll-stat-chart__title"><mat-icon>show_chart</mat-icon> Trends</div>
                      @for (series of lineChartData; track series.name) {
                        @for (point of series.series; track point.name) {
                          <div class="ll-stat-bar">
                            <span class="ll-stat-bar__label">{{ point.name }}</span>
                            <mat-progress-bar mode="determinate" [value]="getSeriesPercent(point.value, series.series)"></mat-progress-bar>
                            <span class="ll-stat-bar__value">{{ point.value }}</span>
                          </div>
                        }
                      }
                    </div>
                  </mat-card-content>
                </mat-card>
                <mat-card appearance="outlined">
                  <mat-card-header><mat-card-title>{{ 'category.chartSalesByGenre' | translate }}</mat-card-title></mat-card-header>
                  <mat-card-content>
                    <div class="ll-stat-chart">
                      <div class="ll-stat-chart__title"><mat-icon>donut_large</mat-icon> By Genre</div>
                      @for (item of doughnutChartData; track item.name) {
                        <div class="ll-stat-bar">
                          <span class="ll-stat-bar__label">{{ item.name }}</span>
                          <mat-progress-bar mode="determinate" [value]="getPercent(item.value, doughnutChartData)"></mat-progress-bar>
                          <span class="ll-stat-bar__value">{{ item.value }}</span>
                        </div>
                      }
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="ll-tab__icon">list</mat-icon> {{ 'ui.list' | translate }}
            </ng-template>
            <div class="ll-tab__content">
              <app-category-list
                (editEvent)="edit($event)"
                (deleteEvent)="delete($event)"
                [categories]="categorys$"
                [categoryI18n]="categoryI18n">
              </app-category-list>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="ll-tab__icon">menu_book</mat-icon> {{ 'ui.userManual' | translate }}
            </ng-template>
            <div class="ll-tab__content">
              <div [innerHTML]="markdownContent"></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }
</div>
