navbar-nav li > .active{
    font-weight: bold;
    font-size:large;
    background-color: #fafafa;
    color: #4e73df!important;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}