<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <div class="ll-page__title">
        <mat-icon class="ll-page__icon">menu_book</mat-icon>
        <div>
          <h1>{{ 'ebook.pageTitle' | translate }}</h1>
          <p class="ll-page__subtitle">{{ 'ebook.pageDesc' | translate }}</p>
        </div>
      </div>
      <div class="ll-page__actions">
        <button mat-stroked-button (click)="loadPdf()" matTooltip="Reload PDF">
          <mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}
        </button>
        <a mat-flat-button color="primary" [href]="pdfUrl" target="_blank" rel="noopener">
          <mat-icon>open_in_new</mat-icon> Open in new tab
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content class="ll-viewer">
      <ngx-extended-pdf-viewer
        [src]="pdfUrl"
        [textLayer]="true"
        [showHandToolButton]="true"
        [showPresentationModeButton]="true"
        [showOpenFileButton]="false"
        [showDownloadButton]="true"
        [showPrintButton]="true"
        height="80vh">
      </ngx-extended-pdf-viewer>
    </mat-card-content>
  </mat-card>
</div>
