<form
  class="form-group odd"
  id="category_name_field_box"
  [formGroup]="categoryForm"
>
  <!--  Category Name-->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
  >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ categoryI18n?.category_nameI18n }}
      </font> </font
    ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- category text field-->
    <input
      [ngClass]="{ 'is-invalid': submitted && f.category_name.errors }"
      formControlName="category_name"
      id="field-category_name"
      name="category_name"
      class="form-control"
      type="text"
      maxlength="99"
    />
    <!-- category Validation message -->
    <div *ngIf="submitted && f.category_name.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.category_name.errors.required">
        {{ msg.validationMessage.category_name }}
      </div>
    </div>

    <!-- submit button -->
    <br />
    <button (click)="add()" type="button" class="btn btn-info">
      <i class="fas fa-save"></i>
      {{ categoryI18n?.addButtonI18n }}
    </button>
  </div>
</form>
