<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">receipt</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'acquisition.invoiceTitle' | translate }}</h1>
        <p>{{ 'acquisition.invoiceDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon> {{ 'ui.create' | translate }}</button>
        <button mat-stroked-button (click)="loadInvoices()"><mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      @if (loadingIndicator) {
        <div class="ll-loading"><mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner></div>
      } @else {
        <mat-tab-group animationDuration="200ms" class="ll-tabs">
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">list</mat-icon> {{ 'ui.list' | translate }}</ng-template>
            <div class="ll-tab__content">
              <ngx-datatable class="material" [rows]="invoices" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                <ngx-datatable-column name="Invoice Number" prop="invoiceNumber"></ngx-datatable-column>
                <ngx-datatable-column name="Invoice Date" prop="invoiceDate">
                  <ng-template ngx-datatable-cell-template let-row="row">{{ row.invoiceDate | date }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Vendor" prop="vendor.name">
                  <ng-template ngx-datatable-cell-template let-row="row">{{ row.vendor?.name }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total Amount" prop="totalAmount">
                  <ng-template ngx-datatable-cell-template let-row="row">{{ row.totalAmount | currency }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payment">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <mat-chip [color]="paymentStatus(row) === 'Paid' ? 'primary' : 'warn'" selected>{{ paymentStatus(row) }}</mat-chip>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Notes" prop="notes"></ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button mat-icon-button [matMenuTriggerFor]="invoiceMenu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #invoiceMenu="matMenu">
                      <button mat-menu-item (click)="openEditDialog(row)"><mat-icon>edit</mat-icon> {{ 'ui.edit' | translate }}</button>
                      <button mat-menu-item (click)="deleteInvoice(row.id)"><mat-icon>delete</mat-icon> {{ 'ui.delete' | translate }}</button>
                      <button mat-menu-item (click)="download()"><mat-icon>download</mat-icon> Download</button>
                      <button mat-menu-item (click)="pay(row)"><mat-icon>payment</mat-icon> Add Payment</button>
                    </mat-menu>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">menu_book</mat-icon> {{ 'ui.userManual' | translate }}</ng-template>
            <div class="ll-tab__content"><div [innerHTML]="markdownContent"></div></div>
          </mat-tab>
        </mat-tab-group>
      }
    </mat-card-content>
  </mat-card>
</div>
