<table class="center-table table">
  <tr>
    <div *ngIf="loadingImage; else loaded">
      <app-loading></app-loading>
    </div>

    <ng-template #loaded>
      <td colspan="2">
        <img [src]="retrievedImage" width="100" height="150" />
      </td>
    </ng-template>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.isbnI18n }} :</b>
    </td>
    <td>{{ book?.isbn }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.authorI18n }} :</b>
    </td>
    <td>{{ book?.writer.name }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.titleI18n }} :</b>
    </td>
    <td>{{ book?.title }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.editionI18n }} :</b>
    </td>
    <td>{{ book?.edition }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.edition_yearI18n }} :</b>
    </td>
    <td>{{ book?.edition_year }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.editionI18n }} :</b>
    </td>
    <td>{{ book?.edition }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.publisherI18n }} :</b>
    </td>
    <td>{{ book?.publisher.name }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.publishing_yearI18n }} :</b>
    </td>
    <td>{{ book?.publishing_year }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.publication_placeI18n }} :</b>
    </td>
    <td>{{ book?.publication_place }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.number_of_pagesI18n }} :</b>
    </td>
    <td>{{ book?.number_of_pages }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.notesI18n }} :</b>
    </td>
    <td>{{ book?.notes }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ bookI18n?.categoryI18n }} :</b>
    </td>
    <td>{{ book?.category.category_name }}</td>
  </tr>
</table>
