<table class="center-table table">
  <tr>
    <td>
      <b>{{ circulationI18n?.bookNameI18n }} :</b>
    </td>
    <td>{{ circulation?.bookName?.title }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.issueDateI18n }} :</b>
    </td>
    <td>{{ circulation?.issueDate }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.lastDateI18n }} :</b>
    </td>
    <td>{{ circulation?.lastDate }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.memberNameI18n }} :</b>
    </td>
    <td>{{ circulation?.memberName?.name }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.returnDateI18n }} :</b>
    </td>
    <td>{{ circulation?.returnDate }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.returnStatusI18n }} :</b>
    </td>
    <td>{{ circulation?.returnStatus }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.toReturnI18n }} :</b>
    </td>
    <td>{{ circulation?.toReturn }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ circulationI18n?.writerI18n }} :</b>
    </td>
    <td>{{ circulation?.writer?.name }}</td>
  </tr>
</table>
