<div class="container-fluid">
  <div class="bg-white p-3 rounded">
    <!-- Budgets Title with Icon -->
    <h1><i class="fas fa-wallet"></i> {{ 'account.budgetTitle' | translate }}</h1>

    <!-- Description -->
    <p>{{ 'account.budgetDesc' | translate }}</p>

    <!-- Button and Dropdown -->

    <button class="btn btn-outline-primary" (click)="openAddDialog()">
      <i class="fas fa-plus"></i> {{ 'ui.add' | translate }}
    </button>
    <button class="btn btn-outline-warning" (click)="loadBudgets()">
      <i class="fas fa-sync-alt"></i> {{ 'ui.reload' | translate }}
    </button>


    @if (loadingIndicator) {
      <div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    } @else {
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <ngx-datatable
              class="bootstrap"
              [rows]="budgets$"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10"
              [loadingIndicator]="loadingIndicator"
              [reorderable]="reorderable"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              >
              <ngx-datatable-column name="Start Date" [prop]="'startDate'">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.startDate | date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="End Date" [prop]="'endDate'">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.endDate | date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Description" [prop]="'description'">
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row.description }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Total Amount" [prop]="'totalAmount'">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <span style="color: blue;">{{ row.totalAmount | currency }}$</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column name="Make Budget Active" [prop]="'makeBudgetActive'">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.makeBudgetActive ? 'Yes' : 'No' }}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Lock Budget" [prop]="'lockBudget'">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span style="color: red;">{{ row.lockBudget ? 'Yes' : 'No' }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template ngx-datatable-cell-template let-row="row">
                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="openEditDialog(row)">
                    <i class="fas fa-edit"></i> Edit
                  </a>
                  <a class="dropdown-item"  (click)="deleteBudget(row.id)">
                    <i class="fas fa-trash"></i> Delete
                  </a>
                  <a class="dropdown-item" (click)="lockBudget(row)">
                    <i class="fas fa-lock"></i> Lock Budget
                  </a>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  }


</div>

<!-- Add Budget Modal -->
</div>
