<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">warning_amber</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'overdue.pageTitle' | translate }}</h1>
        <p>{{ 'overdue.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="warn" (click)="sendReminderToAll()" [disabled]="sendingBulkReminder">
          @if (sendingBulkReminder) {
            <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner> {{ 'overdue.sending' | translate }}
          } @else {
            <mat-icon>notifications</mat-icon> {{ 'overdue.sendRemindersAll' | translate }}
          }
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="ll-stats__kpis">
    <mat-card class="ll-kpi ll-kpi--danger" appearance="outlined">
      <mat-card-content>
        <div class="ll-kpi__label"><mat-icon>list</mat-icon> Total</div>
        <div class="ll-kpi__value">{{ total || 0 }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="ll-kpi ll-kpi--warning" appearance="outlined">
      <mat-card-content>
        <div class="ll-kpi__label"><mat-icon>schedule</mat-icon> Soon</div>
        <div class="ll-kpi__value">{{ soon || 0 }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="ll-kpi ll-kpi--indigo" appearance="outlined">
      <mat-card-content>
        <div class="ll-kpi__label"><mat-icon>history</mat-icon> Yesterday</div>
        <div class="ll-kpi__value">{{ yesterday || 0 }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="ll-kpi ll-kpi--ok" appearance="outlined">
      <mat-card-content>
        <div class="ll-kpi__label"><mat-icon>today</mat-icon> Today</div>
        <div class="ll-kpi__value">{{ today || 0 }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="ll-kpi ll-kpi--info" appearance="outlined">
      <mat-card-content>
        <div class="ll-kpi__label"><mat-icon>event</mat-icon> Tomorrow</div>
        <div class="ll-kpi__value">{{ tomorrow || 0 }}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      <mat-tab-group animationDuration="200ms" class="ll-tabs">
        <mat-tab>
          <ng-template mat-tab-label><mat-icon class="ll-tab__icon">list</mat-icon> All</ng-template>
          <div class="ll-tab__content">
            <ngx-datatable class="material" [rows]="circulations" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
              <ngx-datatable-column name="Member" prop="memberName.firstname"></ngx-datatable-column>
              <ngx-datatable-column name="Book" prop="catalogItemName.title"></ngx-datatable-column>
              <ngx-datatable-column name="Writer" prop="catalogItemName.writer.name"></ngx-datatable-column>
              <ngx-datatable-column name="Issue Date" prop="issueDate"></ngx-datatable-column>
              <ngx-datatable-column name="Last Date" prop="lastDate"></ngx-datatable-column>
              <ngx-datatable-column name="To Return" prop="toReturn"></ngx-datatable-column>
              <ngx-datatable-column name="Return Date" prop="returnDate"></ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <button mat-icon-button [matMenuTriggerFor]="allMenu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #allMenu="matMenu">
                    <button mat-menu-item (click)="openViewDialog(row)"><mat-icon>visibility</mat-icon> View</button>
                    <button mat-menu-item (click)="openCheckOut()"><mat-icon>logout</mat-icon> Checkout</button>
                    <button mat-menu-item (click)="openCheckIn()"><mat-icon>login</mat-icon> Checkin</button>
                    <button mat-menu-item (click)="openRenew()"><mat-icon>sync</mat-icon> Renew</button>
                    <button mat-menu-item (click)="openPutOnHold()"><mat-icon>pause_circle</mat-icon> On Hold</button>
                    <button mat-menu-item (click)="sendReminder(row)"><mat-icon>notifications</mat-icon> Send Reminder</button>
                  </mat-menu>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><mat-icon class="ll-tab__icon">schedule</mat-icon> Soon</ng-template>
          <div class="ll-tab__content">
            <ngx-datatable class="material" [rows]="soonCirculations" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
              <ngx-datatable-column name="Member" prop="memberName.firstname"></ngx-datatable-column>
              <ngx-datatable-column name="Book" prop="catalogItemName.title"></ngx-datatable-column>
              <ngx-datatable-column name="Writer" prop="catalogItemName.writer.name"></ngx-datatable-column>
              <ngx-datatable-column name="Issue Date" prop="issueDate"></ngx-datatable-column>
              <ngx-datatable-column name="Last Date" prop="lastDate"></ngx-datatable-column>
              <ngx-datatable-column name="To Return" prop="toReturn"></ngx-datatable-column>
              <ngx-datatable-column name="Return Date" prop="returnDate"></ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <button mat-icon-button (click)="openViewDialog(row)"><mat-icon>visibility</mat-icon></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><mat-icon class="ll-tab__icon">history</mat-icon> Yesterday</ng-template>
          <div class="ll-tab__content">
            <ngx-datatable class="material" [rows]="yesterdayCirculations" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
              <ngx-datatable-column name="Member" prop="memberName.firstname"></ngx-datatable-column>
              <ngx-datatable-column name="Book" prop="catalogItemName.title"></ngx-datatable-column>
              <ngx-datatable-column name="Writer" prop="catalogItemName.writer.name"></ngx-datatable-column>
              <ngx-datatable-column name="Issue Date" prop="issueDate"></ngx-datatable-column>
              <ngx-datatable-column name="Last Date" prop="lastDate"></ngx-datatable-column>
              <ngx-datatable-column name="To Return" prop="toReturn"></ngx-datatable-column>
              <ngx-datatable-column name="Return Date" prop="returnDate"></ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <button mat-icon-button (click)="openViewDialog(row)"><mat-icon>visibility</mat-icon></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><mat-icon class="ll-tab__icon">today</mat-icon> Today</ng-template>
          <div class="ll-tab__content">
            <ngx-datatable class="material" [rows]="todayCirculations" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
              <ngx-datatable-column name="Member" prop="memberName.firstname"></ngx-datatable-column>
              <ngx-datatable-column name="Book" prop="catalogItemName.title"></ngx-datatable-column>
              <ngx-datatable-column name="Writer" prop="catalogItemName.writer.name"></ngx-datatable-column>
              <ngx-datatable-column name="Issue Date" prop="issueDate"></ngx-datatable-column>
              <ngx-datatable-column name="Last Date" prop="lastDate"></ngx-datatable-column>
              <ngx-datatable-column name="To Return" prop="toReturn"></ngx-datatable-column>
              <ngx-datatable-column name="Return Date" prop="returnDate"></ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <button mat-icon-button (click)="openViewDialog(row)"><mat-icon>visibility</mat-icon></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><mat-icon class="ll-tab__icon">event</mat-icon> Tomorrow</ng-template>
          <div class="ll-tab__content">
            <ngx-datatable class="material" [rows]="tomorrowCirculations" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable">
              <ngx-datatable-column name="Member" prop="memberName.firstname"></ngx-datatable-column>
              <ngx-datatable-column name="Book" prop="catalogItemName.title"></ngx-datatable-column>
              <ngx-datatable-column name="Writer" prop="catalogItemName.writer.name"></ngx-datatable-column>
              <ngx-datatable-column name="Issue Date" prop="issueDate"></ngx-datatable-column>
              <ngx-datatable-column name="Last Date" prop="lastDate"></ngx-datatable-column>
              <ngx-datatable-column name="To Return" prop="toReturn"></ngx-datatable-column>
              <ngx-datatable-column name="Return Date" prop="returnDate"></ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <button mat-icon-button (click)="openViewDialog(row)"><mat-icon>visibility</mat-icon></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
