<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">swap_horiz</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'circulationstatus.pageTitle' | translate }}</h1>
        <p>{{ 'circulationstatus.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon> {{ 'ui.create' | translate }}
        </button>
        <button mat-stroked-button (click)="getAll()">
          <mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      @if (loading) {
        <div class="ll-loading">
          <mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner>
        </div>
      } @else {
        <app-circulation-status-list
          (idEvent)="edit($event)"
          [circulationStatus]="circulationStatus$"
          [circulationStatusI18n]="circulationStatusI18n$"
        ></app-circulation-status-list>
        <app-circulation-status-modal
          [circulationStatusI18n]="circulationStatusI18n$"
          [id]="id"
        ></app-circulation-status-modal>
      }
    </mat-card-content>
  </mat-card>
</div>
