<div class="ll-modal">
  <div class="ll-modal__header">
    <mat-icon class="ll-modal__icon">add_circle</mat-icon>
    <h2 class="ll-modal__title">{{ 'circulation.addTitle' | translate }}</h2>
    <button mat-icon-button class="ll-modal__close" (click)="closeModal()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="ll-modal__content">
    <form [formGroup]="circulationForm" novalidate class="ll-form">
      <div class="ll-form__grid">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colMember' | translate }}</mat-label>
          <mat-select formControlName="memberName">
            @for (c of memberNames$; track c.id) {
              <mat-option [value]="c.id">{{ c.firstname || c.name }} {{ c.surname }}</mat-option>
            }
          </mat-select>
          @if (submitted && f.memberName.errors?.required) {
            <mat-error>{{ msg.validationMessage.memberName }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colBook' | translate }}</mat-label>
          <mat-select formControlName="bookName">
            @for (c of bookNames$; track c.id) {
              <mat-option [value]="c.id">{{ c.title }}</mat-option>
            }
          </mat-select>
          @if (submitted && f.bookName.errors?.required) {
            <mat-error>{{ msg.validationMessage.bookName }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colWriter' | translate }}</mat-label>
          <mat-select formControlName="writer">
            @for (c of writers$; track c.id) {
              <mat-option [value]="c.id">{{ c.name }}</mat-option>
            }
          </mat-select>
          @if (submitted && f.writer.errors?.required) {
            <mat-error>{{ msg.validationMessage.writer }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colIssueDate' | translate }}</mat-label>
          <input matInput type="date" formControlName="issueDate" />
          @if (submitted && f.issueDate.errors?.required) {
            <mat-error>{{ msg.validationMessage.issueDate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colLastDate' | translate }}</mat-label>
          <input matInput type="date" formControlName="lastDate" />
          @if (submitted && f.lastDate.errors?.required) {
            <mat-error>{{ msg.validationMessage.lastDate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colToReturn' | translate }}</mat-label>
          <input matInput type="date" formControlName="toReturn" />
          @if (submitted && f.toReturn.errors?.required) {
            <mat-error>{{ msg.validationMessage.toReturn }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colReturnDate' | translate }}</mat-label>
          <input matInput type="date" formControlName="returnDate" />
          @if (submitted && f.returnDate.errors?.required) {
            <mat-error>{{ msg.validationMessage.returnDate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colPenalty' | translate }}</mat-label>
          <input matInput type="text" formControlName="penalty" />
          @if (submitted && f.penalty.errors?.required) {
            <mat-error>{{ msg.validationMessage.penalty }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'circulation.colReturnStatus' | translate }}</mat-label>
          <mat-select formControlName="returnStatus">
            @for (c of returnStatus$; track c.id) {
              <mat-option [value]="c.id">{{ c.name }}</mat-option>
            }
          </mat-select>
          @if (submitted && f.returnStatus.errors?.required) {
            <mat-error>{{ msg.validationMessage.returnStatus }}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="ll-modal__actions">
        <button mat-stroked-button type="button" (click)="closeModal()">Cancel</button>
        <button mat-flat-button color="primary" type="button" (click)="add()">
          <mat-icon>save</mat-icon> {{ 'ui.save' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
