<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">{{ writerI18n?.allTitleI18n }}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <app-add-button [itemI18n]="writerI18n"></app-add-button>
        <app-writer-list
          (idEvent)="edit($event)"
          [writers]="writers$"
          [writerI18n]="writerI18n"
        ></app-writer-list>
        <app-writer-modal
          [writerI18n]="writerI18n"
          [id]="id"
        ></app-writer-modal>
      </div>
    </div>
  </div>
</div>
