<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <div class="ll-page__title">
        <mat-icon class="ll-page__icon">person</mat-icon>
        <div>
          <h1>{{ 'writer.pageTitle' | translate }}</h1>
          <p class="ll-page__subtitle">{{ 'writer.pageDesc' | translate }}</p>
        </div>
      </div>
      <div class="ll-page__actions">
        <button mat-stroked-button (click)="reloadPage()" matTooltip="Reload">
          <mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}
        </button>
        <button mat-flat-button color="primary" (click)="openAddDialog()">
          <mat-icon>person_add</mat-icon> {{ 'ui.create' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  @if (loading) {
    <div class="ll-page__loading">
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    </div>
  }

  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      <mat-tab-group animationDuration="200ms" class="ll-tabs">
        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="ll-tab__icon">insights</mat-icon> {{ 'ui.overview' | translate }}
          </ng-template>
          <div class="ll-tab__content">
            <div class="ll-stat-charts">
              <mat-card appearance="outlined">
                <mat-card-header><mat-card-title>{{ 'writer.chartPublications' | translate }}</mat-card-title></mat-card-header>
                <mat-card-content>
                  <ngx-charts-bar-vertical
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="publicationsByAuthorsData"
                    [gradient]="gradient"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="showLegend"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    xAxisLabel="Author"
                    yAxisLabel="Publications">
                  </ngx-charts-bar-vertical>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-header><mat-card-title>Distribution by Genre</mat-card-title></mat-card-header>
                <mat-card-content>
                  <ngx-charts-pie-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="publicationsByGenreData"
                    [legend]="showLegend"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    [gradient]="gradient">
                  </ngx-charts-pie-chart>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-header><mat-card-title>Publication Trends</mat-card-title></mat-card-header>
                <mat-card-content>
                  <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="publicationTrendsData"
                    [gradient]="gradient"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="showLegend"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    xAxisLabel="Year"
                    yAxisLabel="Publications">
                  </ngx-charts-line-chart>
                </mat-card-content>
              </mat-card>

              <mat-card appearance="outlined">
                <mat-card-header><mat-card-title>Top Authors by Borrow Count</mat-card-title></mat-card-header>
                <mat-card-content>
                  <ngx-charts-bar-horizontal
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="topAuthorsByBorrowCountData"
                    [gradient]="gradient"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="showLegend"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    xAxisLabel="Borrow Count"
                    yAxisLabel="Author">
                  </ngx-charts-bar-horizontal>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="ll-tab__icon">list</mat-icon> List
          </ng-template>
          <div class="ll-tab__content">
            <app-writer-list
              (idEvent)="edit($event)"
              [writers]="writers$"
              [writerI18n]="writerI18n">
            </app-writer-list>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="ll-tab__icon">menu_book</mat-icon> User Manual
          </ng-template>
          <div class="ll-tab__content">
            <div [innerHTML]="markdownContent"></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
