<div class="ll-list">
  <mat-tab-group class="ll-list__tabs" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="200ms">
    <!-- Overview -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ll-tab__icon">insights</mat-icon> {{ 'ui.overview' | translate }}
      </ng-template>
      <div class="ll-tab__content">
        <div class="ll-charts">
          <mat-card appearance="outlined" class="ll-chart">
            <mat-card-header>
              <mat-icon mat-card-avatar>bar_chart</mat-icon>
              <mat-card-title>{{ 'member.chartByUserType' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-bar-vertical
                [view]="viewSize"
                [scheme]="materialColorScheme"
                [results]="membersByUserTypeData"
                [gradient]="gradient"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="showLegend"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'User Type'"
                [yAxisLabel]="'Number of Members'">
              </ngx-charts-bar-vertical>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined" class="ll-chart">
            <mat-card-header>
              <mat-icon mat-card-avatar>pie_chart</mat-icon>
              <mat-card-title>{{ 'member.chartGender' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-pie-chart
                [view]="viewSize"
                [scheme]="materialColorScheme"
                [results]="genderDistributionData"
                [legend]="showLegend"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                [gradient]="gradient">
              </ngx-charts-pie-chart>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined" class="ll-chart">
            <mat-card-header>
              <mat-icon mat-card-avatar>timeline</mat-icon>
              <mat-card-title>{{ 'member.chartAge' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-bar-vertical
                [view]="viewSize"
                [scheme]="materialColorScheme"
                [results]="ageDistributionData"
                [gradient]="gradient"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="showLegend"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'Age Groups'"
                [yAxisLabel]="'Number of Members'">
              </ngx-charts-bar-vertical>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined" class="ll-chart">
            <mat-card-header>
              <mat-icon mat-card-avatar>location_city</mat-icon>
              <mat-card-title>Members by City</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ngx-charts-bar-vertical
                [view]="viewSize"
                [scheme]="materialColorScheme"
                [results]="membersByCityData"
                [gradient]="gradient"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="showLegend"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]="'City'"
                [yAxisLabel]="'Number of Members'">
              </ngx-charts-bar-vertical>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <!-- List -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ll-tab__icon">list</mat-icon> List
      </ng-template>
      <div class="ll-tab__content">
        <div class="ll-list__toolbar">
          <mat-form-field appearance="outline" class="ll-list__search">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search by first name..." (input)="updateFilter($event)" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <ng-container *ngTemplateOutlet="memberTable; context: { rows: members }"></ng-container>
      </div>
    </mat-tab>

    <!-- New Arrivals -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ll-tab__icon">fiber_new</mat-icon> New Arrivals
      </ng-template>
      <div class="ll-tab__content">
        <ng-container *ngTemplateOutlet="memberTable; context: { rows: newArrivals }"></ng-container>
      </div>
    </mat-tab>

    <!-- Blacklist -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ll-tab__icon">block</mat-icon> Blacklist
      </ng-template>
      <div class="ll-tab__content">
        <ng-container *ngTemplateOutlet="memberTable; context: { rows: blockedMembers }"></ng-container>
      </div>
    </mat-tab>

    <!-- Unverified -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ll-tab__icon">help_outline</mat-icon> Unverified
      </ng-template>
      <div class="ll-tab__content">
        <ng-container *ngTemplateOutlet="memberTable; context: { rows: unverifiedAccounts }"></ng-container>
      </div>
    </mat-tab>

    <!-- Expired -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="ll-tab__icon">schedule</mat-icon> Expired
      </ng-template>
      <div class="ll-tab__content">
        <ng-container *ngTemplateOutlet="memberTable; context: { rows: expiredAccounts }"></ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #memberTable let-rows="rows">
  <div class="ll-list__table">
    <ngx-datatable
      class="bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [loadingIndicator]="loadingIndicator"
      [reorderable]="reorderable">

      <ngx-datatable-column name="Avatar" [width]="80" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="ll-avatar" [style.background-color]="getRandomColor()">
            {{ row.surname ? row.surname.charAt(0).toUpperCase() : '?' }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Surname" prop="surname">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span class="ll-cell ll-cell--strong">{{ row.surname }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="First Name" prop="firstname">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span class="ll-cell">{{ row.firstname || row.firstName }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email" prop="primary_email">
        <ng-template ngx-datatable-cell-template let-row="row">
          <a href="mailto:{{ row.primary_email }}">{{ row.primary_email }}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Mobile" prop="primary_phone">
        <ng-template ngx-datatable-cell-template let-row="row">
          <a href="tel:{{ row.primary_phone }}">{{ row.primary_phone }}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Address" prop="address"></ngx-datatable-column>

      <ngx-datatable-column name="Date of Birth" prop="dob">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.dob | date:'shortDate' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Gender" prop="gender"></ngx-datatable-column>

      <ngx-datatable-column name="Status" prop="status">
        <ng-template ngx-datatable-cell-template let-row="row">
          <mat-chip-set>
            <mat-chip [class.ll-chip--ok]="row.status === 'Active' || row.status === 'active'"
                      [class.ll-chip--off]="!(row.status === 'Active' || row.status === 'active')">
              {{ row.status === 'Active' ? row.status : (row.status || 'Inactive') }}
            </mat-chip>
          </mat-chip-set>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions" prop="actions" [sortable]="false" [width]="120">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="Actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="openViewDialog(row)">
              <mat-icon>visibility</mat-icon><span>View</span>
            </button>
            <button mat-menu-item (click)="openEditDialog(row)">
              <mat-icon>edit</mat-icon><span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteRow(row)">
              <mat-icon>delete</mat-icon><span>Delete</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="openUploadialog(row)">
              <mat-icon>upload_file</mat-icon><span>Upload Documents</span>
            </button>
            <button mat-menu-item (click)="active(row)">
              <mat-icon>lock_open</mat-icon><span>Mark as Active</span>
            </button>
            <button mat-menu-item (click)="verify(row)">
              <mat-icon>verified</mat-icon><span>Mark as Verified</span>
            </button>
            <button mat-menu-item (click)="block(row)" class="ll-menu--danger">
              <mat-icon>block</mat-icon><span>Mark as Blocked</span>
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ng-template>
