<form
  class="form-group odd"
  id="category_name_field_box"
  [formGroup]="paymentForm"
  >
  <!-- member -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
    >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ 'ui.name' | translate }}
      </font> </font
      ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- member select field -->
    <select
      [ngClass]="{ 'is-invalid': submitted && f.memberName.errors }"
      formControlName="memberName"
      id="field-category_name"
      name="memberName"
      class="form-control"
      >
      @for (m of members$; track m) {
        <option value="{{ m.id }}">
          {{ m.name }}
        </option>
      }
    </select>

    <!-- member validation-->
    @if (submitted && f.memberName.errors) {
      <div class="alert alert-danger">
        @if (submitted && f.memberName.errors.required) {
          <div>
            {{ msg.validationMessage.memberName }}
          </div>
        }
      </div>
    }
  </div>

  <label
    class="col-sm-3 control-label"
    for="name"
    id="payment_name_display_as_box"
    >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ 'ui.date' | translate }}
      </font> </font
      ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="payment_name_input_box">
    <!-- payment text field-->
    <input
      [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
      formControlName="date"
      id="field-payment_name"
      name="date"
      class="form-control"
      type="date"
      maxlength="99"
      />
      <!-- payment Validation message -->
      @if (submitted && f.date.errors) {
        <div class="alert alert-danger">
          @if (submitted && f.date.errors.required) {
            <div>
              {{ msg.validationMessage.date }}
            </div>
          }
        </div>
      }
    </div>

    <label
      class="col-sm-3 control-label"
      for="name"
      id="payment_name_display_as_box"
      >
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">
          {{ 'ui.amount' | translate }}
        </font> </font
        ><span class="required">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">*</font>
        </font>
      </span>
    </label>
    <div class="col-sm-9 col-md-6 col-lg-6" id="payment_name_input_box">
      <!-- payment text field-->
      <input
        [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"
        formControlName="amount"
        id="field-payment_name"
        name="amount"
        class="form-control"
        type="text"
        maxlength="99"
        />
        <!-- payment Validation message -->
        @if (submitted && f.amount.errors) {
          <div class="alert alert-danger">
            @if (submitted && f.amount.errors.required) {
              <div>
                {{ msg.validationMessage.amount }}
              </div>
            }
          </div>
        }
      </div>
      <label
        class="col-sm-3 control-label"
        for="name"
        id="payment_name_display_as_box"
        >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ 'ui.notes' | translate }}
          </font> </font
          ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="payment_name_input_box">
        <!-- payment text field-->
        <textarea
          formControlName="note"
          id="field-payment_name"
          name="note"
          class="form-control"
          type="text"
          maxlength="99"
        ></textarea>
        <!-- payment Validation message -->
      </div>

      <label class="col-sm-3 control-label" for="paymentMethod">
        Payment Method<span class="required">*</span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6">
        <select
          [ngClass]="{ 'is-invalid': submitted && f.paymentMethod.errors }"
          formControlName="paymentMethod"
          id="field-payment-method"
          name="paymentMethod"
          class="form-control"
        >
          <option value="cash">Cash</option>
          <option value="bank_transfer">Bank Transfer</option>
          <option value="paypal">PayPal</option>
          <option value="credit_card">Credit / Debit Card</option>
        </select>
        @if (submitted && f.paymentMethod.errors) {
          <div class="alert alert-danger">
            @if (f.paymentMethod.errors.required) {
              <div>Payment method is required.</div>
            }
          </div>
        }
      </div>
      <br />
      <!-- add button -->
      <button (click)="add()" type="button" class="btn btn-info">
        <i class="fas fa-save"></i>
        {{ 'ui.save' | translate }}
      </button>
    </form>
