<div class="ll-book-list">
  <div class="ll-book-list__toolbar">
    <mat-form-field appearance="outline" class="ll-book-list__search">
      <mat-label>{{ 'book.searchTitle' | translate }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" [placeholder]="'book.searchPlaceholder' | translate" (input)="updateFilter($event)" />
    </mat-form-field>
  </div>

  <div class="ll-book-list__table">
    <ngx-datatable
      class="bootstrap"
      [rows]="books"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [loadingIndicator]="loadingIndicator"
      [reorderable]="reorderable">

      <ngx-datatable-column [width]="70" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="ll-avatar" [style.background-color]="getRandomColor()">
            {{ row.title ? row.title.charAt(0).toUpperCase() : '?' }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'book.colTitle' | translate }}" prop="title">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span class="ll-cell ll-cell--strong">{{ row.title }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'book.colISBN' | translate }}" prop="isbn">
        <ng-template ngx-datatable-cell-template let-row="row">
          <span class="ll-cell ll-cell--muted">{{ row.isbn }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'book.colWriter' | translate }}" prop="writer.name"></ngx-datatable-column>
      <ngx-datatable-column name="{{ 'book.colPublisher' | translate }}" prop="publisher.name"></ngx-datatable-column>
      <ngx-datatable-column name="{{ 'book.colEdition' | translate }}" prop="edition"></ngx-datatable-column>
      <ngx-datatable-column name="{{ 'book.colCategory' | translate }}" prop="category.category_name"></ngx-datatable-column>

      <ngx-datatable-column name="{{ 'book.colActions' | translate }}" [sortable]="false" [width]="120">
        <ng-template ngx-datatable-cell-template let-row="row">
          <button mat-stroked-button color="primary" [matMenuTriggerFor]="rowMenu" type="button">
            <mat-icon>more_vert</mat-icon> {{ 'ui.actions' | translate }}
          </button>
          <mat-menu #rowMenu="matMenu">
            <button mat-menu-item (click)="openViewDialog(row)">
              <mat-icon>visibility</mat-icon><span>{{ 'book.actionView' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openCheckinDialog(row)">
              <mat-icon>event_available</mat-icon><span>{{ 'book.actionCheckin' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openCheckoutDialog(row)">
              <mat-icon>event_busy</mat-icon><span>{{ 'book.actionCheckout' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openEditDialog(row)">
              <mat-icon>edit</mat-icon><span>{{ 'book.actionEdit' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openQRCodeViewDialog(row)">
              <mat-icon>qr_code_2</mat-icon><span>{{ 'book.actionQR' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openBarCodeViewDialog(row)">
              <mat-icon>barcode_reader</mat-icon><span>{{ 'book.actionBarcode' | translate }}</span>
            </button>
            <button mat-menu-item (click)="duplicate(row)">
              <mat-icon>content_copy</mat-icon><span>{{ 'book.actionDuplicate' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openChangeCoverDialog(row)">
              <mat-icon>image</mat-icon><span>{{ 'book.actionChangeCover' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openOnHoldDialog(row)">
              <mat-icon>bookmark</mat-icon><span>{{ 'book.actionPlaceHold' | translate }}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="archiveBook(row.id)">
              <mat-icon>archive</mat-icon><span>{{ 'book.actionArchive' | translate }}</span>
            </button>
            <button mat-menu-item (click)="destroyBook(row.id)">
              <mat-icon>delete_sweep</mat-icon><span>{{ 'book.actionDestroy' | translate }}</span>
            </button>
            <button mat-menu-item class="ll-menu__danger" (click)="delete(row.id)">
              <mat-icon>delete</mat-icon><span>{{ 'book.actionDelete' | translate }}</span>
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
