<table id="table" class="table table-bordered" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>{{ bookI18n?.isbnI18n }}</th>
      <th>{{ bookI18n?.titleI18n }}</th>
      <th>{{ bookI18n?.authorI18n }}</th>
      <th>{{ bookI18n?.categoryI18n }}</th>
      <th>{{ bookI18n?.publisherI18n }}</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>
        {{ bookI18n?.isbnI18n }}
      </th>
      <th>{{ bookI18n?.titleI18n }}</th>
      <th>{{ bookI18n?.authorI18n }}</th>
      <th>
        {{ bookI18n?.categoryI18n }}
      </th>
      <th>{{ bookI18n?.publisherI18n }}</th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let b of books">
      <td>
        <span class="badge badge-primary">{{ b.isbn }}</span>
      </td>
      <td>
        <b>{{ b.title }}</b>
      </td>
      <td>{{ b.writer?.name }}</td>
      <td>{{ b.category?.category_name }}</td>
      <td>
        <span class="badge badge-warning">{{ b.publisher?.name }}</span>
      </td>
      <td>
        <button
          (click)="view(b.id)"
          href="#view"
          role="button"
          data-toggle="modal"
          class="btn btn-primary btn-sm"
        >
          <i class="fas fa-eye"></i>
        </button>
        <button
          (click)="edit(b.id)"
          href="#edit"
          role="button"
          data-toggle="modal"
          class="btn btn-warning btn-sm"
        >
          <i class="fas fa-edit"></i>
        </button>
        <button
          (click)="delete(b.id)"
          type=" button"
          class="btn btn-danger btn-sm"
          onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet employé ?');"
        >
          <i class="fas fa-trash-alt"></i>
        </button>
        <button
          (click)="archiveBook(b.id)"
          *ngIf="b.status.id == 1"
          class="btn btn-warning btn-sm"
        >
          <i class="fas fa-archive"></i>
        </button>
        <button
          (click)="destroyBook(b.id)"
          *ngIf="b.status.id == 1"
          class="btn btn-info btn-sm"
        >
          <i class="fas fa-minus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
