<div class="ll-modal">
  <div class="ll-modal__header">
    <mat-icon class="ll-modal__icon">edit</mat-icon>
    <h2 class="ll-modal__title">Edit Member</h2>
    <button mat-icon-button class="ll-modal__close" (click)="closeModal()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="ll-modal__content">
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()" class="ll-form" novalidate>
      <div class="ll-form__grid">
        <mat-form-field appearance="outline">
          <mat-label>Salutation</mat-label>
          <mat-select formControlName="salutation">
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mrs">Mrs</mat-option>
            <mat-option value="Ms">Ms</mat-option>
            <mat-option value="Dr">Dr</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstname" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input matInput type="date" formControlName="dob" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Street Number</mat-label>
          <input matInput formControlName="street_number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="ll-form__full">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>ZIP / Postal Code</mat-label>
          <input matInput formControlName="zip" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Primary Phone</mat-label>
          <input matInput formControlName="primary_phone" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Secondary Phone</mat-label>
          <input matInput formControlName="secondary_phone" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Primary Email</mat-label>
          <input matInput type="email" formControlName="primary_email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Secondary Email</mat-label>
          <input matInput type="email" formControlName="secondary_email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Head of Department</mat-label>
          <input matInput formControlName="headOfDepartment" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Booking Quota</mat-label>
          <input matInput type="number" formControlName="bookingQuota" />
        </mat-form-field>
      </div>

      <div class="ll-modal__actions">
        <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Save
        </button>
      </div>
    </form>
  </div>
</div>
