<div class="ll-list">
  @for (t of settings; track t) {
    <mat-card class="ll-list__card" appearance="outlined">
      <mat-card-content>
        <div class="ll-list__head">
          <div class="ll-list__title">
            <mat-icon class="ll-list__icon">local_library</mat-icon>
            <span>{{ t.name }}</span>
          </div>
          <div class="ll-list__actions">
            <button mat-stroked-button color="primary" (click)="edit(t.id)" matTooltip="Edit settings"
              type="button" data-toggle="modal" data-target="#edit">
              <mat-icon>edit</mat-icon> Edit
            </button>
          </div>
        </div>
        <mat-divider class="ll-list__divider"></mat-divider>
        <div class="ll-list__grid">
          <div class="ll-list__row">
            <span class="ll-list__label">{{ 'settings.colTelephone' | translate }}</span>
            <span class="ll-list__value">{{ t.telephone }}</span>
          </div>
          <div class="ll-list__row">
            <span class="ll-list__label">{{ 'ui.address' | translate }}</span>
            <span class="ll-list__value">{{ t.address }}</span>
          </div>
          <div class="ll-list__row">
            <span class="ll-list__label">{{ 'settings.colLanguage' | translate }}</span>
            <span class="ll-list__value">
              <mat-chip color="primary" selected>
                <mat-icon class="ll-chip__icon">language</mat-icon>
                {{ showLanguage(t.lang) }}
              </mat-chip>
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
