<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">notifications</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'notice.pageTitle' | translate }}</h1>
        <p>{{ 'notice.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon> {{ 'ui.create' | translate }}</button>
        <button mat-stroked-button (click)="refreshData()"><mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      @if (loadingIndicator) {
        <div class="ll-loading"><mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner></div>
      } @else {
        <mat-tab-group animationDuration="200ms" class="ll-tabs">
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">list</mat-icon> {{ 'ui.list' | translate }}</ng-template>
            <div class="ll-tab__content">
              <ngx-datatable class="material" [rows]="notices" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" (select)="onSelect($event)" (activate)="onActivate($event)">
                <ngx-datatable-column name="Notification Method" prop="notificationMethod"></ngx-datatable-column>
                <ngx-datatable-column name="Receiver" prop="receiver"></ngx-datatable-column>
                <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
                <ngx-datatable-column name="Importance" prop="importance"></ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button mat-icon-button [matMenuTriggerFor]="noticeMenu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #noticeMenu="matMenu">
                      <button mat-menu-item (click)="openEditDialog(row)"><mat-icon>edit</mat-icon> {{ 'ui.edit' | translate }}</button>
                      <button mat-menu-item (click)="deleteNotice(row.id)"><mat-icon>delete</mat-icon> {{ 'ui.delete' | translate }}</button>
                      <button mat-menu-item (click)="notifyNotice(row)"><mat-icon>send</mat-icon> Notify Member</button>
                      <button mat-menu-item (click)="setHighPriority(row)"><mat-icon>priority_high</mat-icon> Set High Priority</button>
                    </mat-menu>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">menu_book</mat-icon> {{ 'ui.userManual' | translate }}</ng-template>
            <div class="ll-tab__content"><div [innerHTML]="markdownContent"></div></div>
          </mat-tab>
        </mat-tab-group>
      }
    </mat-card-content>
  </mat-card>
</div>
