<form
  class="form-group odd"
  id="category_name_field_box"
  [formGroup]="writerForm"
>
  <!-- name  -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
  >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ writerI18n?.nameI18n }}
      </font> </font
    ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- name input text -->
    <input
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      formControlName="name"
      id="field-category_name"
      name="name"
      class="form-control"
      type="text"
      maxlength="99"
    />
    <!-- name validation -->
    <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.name.errors.required">
        {{ msg.validationMessage.name }}
      </div>
    </div>
  </div>

  <!-- note -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
  >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ writerI18n?.noteI18n }}
      </font> </font
    ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- note input text -->
    <input
      [ngClass]="{ 'is-invalid': submitted && f.note.errors }"
      formControlName="note"
      id="field-category_name"
      name="note"
      class="form-control"
      type="text"
      maxlength="99"
    />
    <!-- note validation -->
    <div *ngIf="submitted && f.note.errors" class="alert alert-danger">
      <div *ngIf="submitted && f.note.errors.required">
        {{ msg.validationMessage.note }}
      </div>
    </div>
  </div>

  <br />
  <!-- add button -->
  <button (click)="add()" type="button" class="btn btn-info">
    <i class="fas fa-save"></i>
    {{ writerI18n?.addButtonI18n }}
  </button>
</form>
