<form
  class="form-group odd"
  id="category_name_field_box"
  [formGroup]="requestedBookForm"
  >
  <!-- book -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
    >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ 'requestedbook.colBook' | translate }}
      </font> </font
      ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>

  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- input select field-->
    <select
      [ngClass]="{ 'is-invalid': submitted && f.book.errors }"
      formControlName="book"
      id="field-category_name"
      name="book"
      class="form-control"
      >
      @for (c of books$; track c) {
        <option value="{{ c.id }}">
          {{ c.title }}
        </option>
      }
    </select>

    <!-- book validation-->
    @if (submitted && f.book.errors) {
      <div class="alert alert-danger">
        @if (submitted && f.book.errors.required) {
          <div>
            {{ msg.validationMessage.book }}
          </div>
        }
      </div>
    }
  </div>

  <!-- writer -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
    >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ 'requestedbook.colWriter' | translate }}
      </font> </font
      ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- writer -->
    <select
      [ngClass]="{ 'is-invalid': submitted && f.writer.errors }"
      formControlName="writer"
      id="field-category_name"
      name="writer"
      class="form-control"
      >
      @for (c of writers$; track c) {
        <option value="{{ c.id }}">
          {{ c.name }}
        </option>
      }
    </select>
    <!-- writer validation -->
    @if (submitted && f.writer.errors) {
      <div class="alert alert-danger">
        @if (submitted && f.writer.errors.required) {
          <div>
            {{ msg.validationMessage.writer }}
          </div>
        }
      </div>
    }
  </div>

  <!-- category -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
    >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ 'requestedbook.colCategory' | translate }}
      </font> </font
      ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- category select field -->
    <select
      [ngClass]="{ 'is-invalid': submitted && f.ctagory.errors }"
      formControlName="ctagory"
      id="field-category_name"
      name="ctagory"
      class="form-control"
      >
      @for (c of categories$; track c) {
        <option value="{{ c.id }}">
          {{ c.category_name }}
        </option>
      }
    </select>

    <!-- category validation-->
    @if (submitted && f.ctagory.errors) {
      <div class="alert alert-danger">
        @if (submitted && f.ctagory.errors.required) {
          <div>
            {{ msg.validationMessage.ctagory }}
          </div>
        }
      </div>
    }
  </div>

  <!-- member -->
  <label
    class="col-sm-3 control-label"
    for="name"
    id="category_name_display_as_box"
    >
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ 'requestedbook.colMember' | translate }}
      </font> </font
      ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="category_name_input_box">
    <!-- member select field -->
    <select
      [ngClass]="{ 'is-invalid': submitted && f.member.errors }"
      formControlName="member"
      id="field-category_name"
      name="member"
      class="form-control"
      >
      @for (m of members$; track m) {
        <option value="{{ m.id }}">
          {{ m.name }}
        </option>
      }
    </select>

    <!-- member validation-->
    @if (submitted && f.member.errors) {
      <div class="alert alert-danger">
        @if (submitted && f.member.errors.required) {
          <div>
            {{ msg.validationMessage.member }}
          </div>
        }
      </div>
    }
  </div>

  <br />
  <!-- add button -->
  <button (click)="add()" type="button" class="btn btn-info">
    <i class="fas fa-save"></i>
    {{ 'ui.save' | translate }}
  </button>
</form>
