<table class="center-table table">
  <tr>
    <td>
      <b>{{ 'requestedbook.colBook' | translate }} :</b>
    </td>
    <td>{{ requestedbook?.book?.title }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ 'requestedbook.colWriter' | translate }} :</b>
    </td>
    <td>{{ requestedbook?.writer?.name }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ 'requestedbook.colCategory' | translate }} :</b>
    </td>
    <td>{{ requestedbook?.ctagory?.category_name }}</td>
  </tr>
  <tr>
    <td>
      <b>{{ 'requestedbook.colMember' | translate }} :</b>
    </td>
    <td>{{ requestedbook?.member?.name }}</td>
  </tr>
</table>
