<form
  method="post"
  class="form-horizontal"
  id="crudForm"
  autocomplete="off"
  enctype="multipart/form-data"
  accept-charset="utf-8"
  [formGroup]="memberForm"
>
  <div class="form-div">
    <div class="form-group odd" id="name_field_box">
      <label class="col-sm-3 control-label" for="name" id="name_display_as_box">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.nameI18n }}
          </font> </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="name_input_box">
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          formControlName="name"
          id="field-name"
          name="name"
          type="text"
          value=""
          maxlength="99"
        />

        <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.name.errors.required">
            {{ msg.validationMessage.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group even" id="user_type_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="user_type_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.user_typeI18n }}
          </font> </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="user_type_input_box">
        <select
          class="form-control"
          name="user_type"
          [ngClass]="{ 'is-invalid': submitted && f.user_type.errors }"
          formControlName="user_type"
          id="field-user_type"
        >
          <option value=""></option>
          <option value="Member" selected="yes">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">Membre</font>
            </font>
          </option>
          <option value="Admin">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">Administrateur</font>
            </font>
          </option>
        </select>

        <div *ngIf="submitted && f.user_type.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.user_type.errors.required">
            {{ msg.validationMessage.user_type }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group odd" id="type_id_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="type_id_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.type_idI18n }}
          </font>
        </font>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="type_id_input_box">
        <select
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.type_id.errors }"
          formControlName="type_id"
          id="field-type_id"
          name="type_id"
        >
          <option value=""></option>
          <option value="150">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">Professeur</font>
            </font>
          </option>
          <option value="151">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">Etudiant</font>
            </font>
          </option>
        </select>

        <div *ngIf="submitted && f.type_id.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.type_id.errors.required">
            {{ msg.validationMessage.type_id }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group even" id="email_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="email_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.emailI18n }}
          </font> </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="email_input_box">
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          formControlName="email"
          id="field-email"
          name="email"
          type="text"
          value=""
          maxlength="250"
        />
        <!-- <span class="red"></span> -->

        <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.email.errors.required">
            {{ msg.validationMessage.email }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group odd" id="mobile_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="mobile_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.mobileI18n }}
          </font> </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="mobile_input_box">
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
          formControlName="mobile"
          id="field-mobile"
          name="mobile"
          type="text"
          value=""
          maxlength="100"
        />
        <!-- <span class="red"></span> -->

        <div *ngIf="submitted && f.mobile.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.mobile.errors.required">
            {{ msg.validationMessage.mobile }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group even" id="password_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="password_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.passwordI18n }}</font
          > </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="password_input_box">
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          formControlName="password"
          id="field-password"
          name="password"
          type="password"
          value=""
          maxlength="99"
        />

        <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.password.errors.required">
            {{ msg.validationMessage.password }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group odd" id="address_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="address_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.addressI18n }}
          </font> </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="address_input_box">
        <textarea
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
          formControlName="address"
          id="field-address"
          name="address"
        ></textarea>

        <div *ngIf="submitted && f.address.errors" class="alert alert-danger">
          <div *ngIf="submitted && f.address.errors.required">
            {{ msg.validationMessage.address }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group even" id="status_field_box">
      <label
        class="col-sm-3 control-label"
        for="name"
        id="status_display_as_box"
      >
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">
            {{ memberI18n.statusI18n }}
          </font> </font
        ><span class="required">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">*</font>
          </font>
        </span>
      </label>
      <div class="col-sm-9 col-md-6 col-lg-6" id="status_input_box">
        <select
          [ngClass]="{ 'is-invalid': submitted && f.status.errors }"
          formControlName="status"
          name="status"
          class="form-control"
          id="field-status"
        >
          <option value="0">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">Inactif</font>
            </font>
          </option>
          <option value="1" selected="selected">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">actif</font>
            </font>
          </option>
        </select>
        <!-- <span class="red"></span> -->
      </div>
    </div>
  </div>
  <div class="pDiv">
    <button (click)="add()" type="button" class="btn btn-info">
      <i class="fas fa-save"></i>
      {{ memberI18n.addButtonI18n }}
    </button>

    <div class="clear"></div>
  </div>
</form>
