<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">badge</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'typemember.pageTitle' | translate }}</h1>
        <p>{{ 'typemember.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon> {{ 'ui.create' | translate }}
        </button>
        <button mat-stroked-button (click)="getAll()">
          <mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      <div>


      @if (loading) {
        <div class="ll-loading">
          <mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner>
        </div>
      } @else {
        <app-typemember-list
          (editEvent)="edit($event)"
          (deleteEvent)="delete($event)"
          [typeMembers]="typeMembers$"
          [typeMemberI18n]="typeMemberI18n"
        ></app-typemember-list>
        <app-modal-type-member
          [typeMemberI18n]="typeMemberI18n"
          [id]="id"
        ></app-modal-type-member>
      }
    </div>
    </mat-card-content>
  </mat-card>
</div>
