<div class="container-fluid">
  <div *ngIf="loading; else loaded">
    <app-loading></app-loading>
  </div>

  <ng-template #loaded>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{ typeMemberI18n?.allTitleI18n }}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <app-add-button [itemI18n]="typeMemberI18n"></app-add-button>
          <app-typemember-list
            (editEvent)="edit($event)"
            (deleteEvent)="delete($event)"
            [typeMembers]="typeMembers$"
            [typeMemberI18n]="typeMemberI18n"
          ></app-typemember-list>
          <app-modal-type-member
            [typeMemberI18n]="typeMemberI18n"
            [id]="id"
          ></app-modal-type-member>
        </div>
      </div>
    </div>
  </ng-template>
</div>
