<div class="ll-list">
  <div class="ll-list__toolbar">
    <mat-form-field appearance="outline" class="ll-list__search">
      <mat-label>Search categories…</mat-label>
      <input matInput type="text" (input)="updateFilter($event)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <ngx-datatable
    class="bootstrap ll-list__table"
    [rows]="categories"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [loadingIndicator]="loadingIndicator"
    [reorderable]="reorderable"
    (select)="onSelect($event)"
    (activate)="onActivate($event)">

    <ngx-datatable-column name="" [width]="70" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="ll-avatar">
          {{ row.category_name ? row.category_name.charAt(0).toUpperCase() : '?' }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'category.colName' | translate }}" [prop]="'category_name'">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span class="ll-cell--strong">{{ row.category_name | titlecapital }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Slug" [prop]="'slug'">
      <ng-template ngx-datatable-cell-template let-row="row">
        <code class="ll-cell--slug">{{ row.slug }}</code>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Published" [prop]="'published'" [width]="120">
      <ng-template ngx-datatable-cell-template let-row="row">
        <mat-chip [class.ll-chip--ok]="row.published" [class.ll-chip--off]="!row.published">
          <mat-icon class="ll-chip__icon">{{ row.published ? 'check_circle' : 'cancel' }}</mat-icon>
          {{ row.published ? 'Published' : 'Draft' }}
        </mat-chip>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Items" [width]="80">
      <ng-template ngx-datatable-cell-template>
        <span class="ll-cell--muted">N/A</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row">
        <button mat-icon-button [matMenuTriggerFor]="actions" matTooltip="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item (click)="openViewDialog(row)">
            <mat-icon>visibility</mat-icon><span>View</span>
          </button>
          <button mat-menu-item (click)="editRow(row)">
            <mat-icon>edit</mat-icon><span>Edit</span>
          </button>
          <button mat-menu-item (click)="toggle(row.id, row.published)">
            <mat-icon>{{ row.published ? 'visibility_off' : 'publish' }}</mat-icon>
            <span>{{ row.published ? 'Unpublish' : 'Publish' }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item class="ll-menu--danger" (click)="deleteRow(row)">
            <mat-icon>delete</mat-icon><span>Delete</span>
          </button>
        </mat-menu>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
