/* You can add global styles to this file, and also import other style files */
button {
  margin: 5px;
}

.buttons-print {
  border: 2px solid #467fd0;
  color: #467fd0;
  border-radius: 24px;
}

.buttons-csv {
  border: 2px solid #df4759;
  color: #df4759;
  border-radius: 24px;
}

.buttons-excel {
  border: 2px solid #fd9644;
  color: #fd9644;
  border-radius: 24px;
}

.buttons-pdf {
  border: 2px solid #42ba96;
  color: #42ba96;
  border-radius: 24px;
}

.center-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
