<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">qr_code</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'qrcode.pageTitle' | translate }}</h1>
        <p>{{ 'qrcode.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon> {{ 'ui.create' | translate }}</button>
        <button mat-stroked-button (click)="loadQRCodes()"><mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      @if (loadingIndicator) {
        <div class="ll-loading"><mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner></div>
      } @else {
        <mat-tab-group animationDuration="200ms" class="ll-tabs">
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">list</mat-icon> {{ 'ui.list' | translate }}</ng-template>
            <div class="ll-tab__content">
              <ngx-datatable class="material" [rows]="qrCodes" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                <ngx-datatable-column name="ISBN">
                  <ng-template ngx-datatable-cell-template let-row="row"><span style="color:red">{{ row.isbn }}</span></ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Width" prop="width"></ngx-datatable-column>
                <ngx-datatable-column name="Height" prop="height"></ngx-datatable-column>
                <ngx-datatable-column name="Margin" prop="margin"></ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button mat-icon-button [matMenuTriggerFor]="qrMenu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #qrMenu="matMenu">
                      <button mat-menu-item (click)="openViewDialog(row)"><mat-icon>visibility</mat-icon> View</button>
                      <button mat-menu-item (click)="deleteQRCode(row.id)"><mat-icon>delete</mat-icon> {{ 'ui.delete' | translate }}</button>
                      <button mat-menu-item (click)="regenerateQRCode(row)"><mat-icon>refresh</mat-icon> Regenerate</button>
                      <button mat-menu-item (click)="printQrCode(row)"><mat-icon>print</mat-icon> Print</button>
                      <button mat-menu-item (click)="downloadQrCode(row)"><mat-icon>download</mat-icon> Download</button>
                    </mat-menu>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">menu_book</mat-icon> {{ 'ui.userManual' | translate }}</ng-template>
            <div class="ll-tab__content"><div [innerHTML]="markdownContent"></div></div>
          </mat-tab>
        </mat-tab-group>
      }
    </mat-card-content>
  </mat-card>
</div>
