<div class="container-fluid">
  <app-statistics-book
    [bookI18n]="bookI18n"
    (result)="filter($event)"
  ></app-statistics-book>
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">{{ bookI18n?.allTitleI18n }}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <app-book-list
          (idEvent)="edit($event)"
          (viewEvent)="view($event)"
          (deleteEvent)="delete($event)"
          [books]="books$"
          [bookI18n]="bookI18n"
        ></app-book-list>
        <app-modal-book [bookI18n]="bookI18n" [id]="id"></app-modal-book>
      </div>
    </div>
  </div>
</div>
