<div class="ll-modal ll-modal--wide">
  <div class="ll-modal__header">
    <mat-icon class="ll-modal__icon">edit</mat-icon>
    <h2 class="ll-modal__title">Edit Writer</h2>
    <button mat-icon-button class="ll-modal__close" (click)="onCancelClick()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="ll-modal__content">
    @if (author) {
      <form #writerForm="ngForm" novalidate class="ll-form">
        <div class="ll-form__grid">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="author.name" name="name" required #nameRef="ngModel" maxlength="99" />
            @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
              <mat-error>Name is required.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Note / Nickname</mat-label>
            <input matInput type="text" [(ngModel)]="author.note" name="note" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="date" [(ngModel)]="author.dob" name="dob" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Deceased?</mat-label>
            <mat-select [(ngModel)]="author.died" name="died" (selectionChange)="onDiedChange()">
              <mat-option [value]="false">Living</mat-option>
              <mat-option [value]="true">Deceased</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date of Death</mat-label>
            <input matInput type="date" [(ngModel)]="author.dod" name="dod" [disabled]="!author.died" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="ll-form__col-full">
            <mat-label>Biography</mat-label>
            <textarea matInput rows="3" [(ngModel)]="author.bio" name="bio"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="ll-form__col-full">
            <mat-label>Publications</mat-label>
            <textarea matInput rows="2" [(ngModel)]="author.publications" name="publications"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Awards</mat-label>
            <input matInput type="text" [(ngModel)]="author.awards" name="awards" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>References</mat-label>
            <input matInput type="text" [(ngModel)]="author.refrences" name="refrences" />
          </mat-form-field>
        </div>

        <div class="ll-modal__actions">
          <button mat-stroked-button type="button" (click)="onCancelClick()">Cancel</button>
          <button mat-flat-button color="primary" type="button" (click)="saveAuthor()" [disabled]="writerForm.invalid">
            <mat-icon>save</mat-icon> Save Changes
          </button>
        </div>
      </form>
    } @else {
      <div class="ll-modal__loading">
        <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
      </div>
    }
  </div>
</div>
