<form class="form-group odd" id="name_field_box">
  <label class="col-sm-3 control-label" for="name" id="name_display_as_box">
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ writerI18n?.editTitleI18n }}
      </font> </font
    ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="name_input_box">
    <input
      [(ngModel)]="model.name"
      id="field-name"
      value="{{ model.name }}"
      name="name"
      class="form-control"
      type="text"
      maxlength="99"
    />
    <br />
  </div>

  <label class="col-sm-3 control-label" for="name" id="name_display_as_box">
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">
        {{ writerI18n?.noteI18n }}
      </font> </font
    ><span class="required">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">*</font>
      </font>
    </span>
  </label>
  <div class="col-sm-9 col-md-6 col-lg-6" id="name_input_box">
    <input
      [(ngModel)]="model.note"
      id="field-name"
      value="{{ model.note }}"
      name="note"
      class="form-control"
      type="text"
      maxlength="99"
    />
    <br />
  </div>

  <button (click)="edit()" type="button" class="btn btn-info">
    <i class="fas fa-save"></i>
    {{ writerI18n?.editButtonI18n }}
  </button>
</form>
