<div class="ll-page">
  <mat-card class="ll-page__header" appearance="outlined">
    <mat-card-content class="ll-page__header-content">
      <mat-icon class="ll-page__icon">article</mat-icon>
      <div class="ll-page__title">
        <h1>{{ 'noticetemplate.pageTitle' | translate }}</h1>
        <p>{{ 'noticetemplate.pageDesc' | translate }}</p>
      </div>
      <div class="ll-page__actions">
        <button mat-flat-button color="primary" (click)="openAddDialog()"><mat-icon>add</mat-icon> {{ 'ui.create' | translate }}</button>
        <button mat-stroked-button (click)="loadNoticeTemplates()"><mat-icon>refresh</mat-icon> {{ 'ui.reload' | translate }}</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="ll-page__body" appearance="outlined">
    <mat-card-content>
      @if (loading) {
        <div class="ll-loading"><mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner></div>
      } @else {
        <mat-tab-group animationDuration="200ms" class="ll-tabs">
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">list</mat-icon> {{ 'ui.list' | translate }}</ng-template>
            <div class="ll-tab__content">
              <ngx-datatable class="material" [rows]="noticeTemplates" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
                <ngx-datatable-column name="Content Template" prop="contentTemplate"></ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button mat-icon-button [matMenuTriggerFor]="ntMenu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #ntMenu="matMenu">
                      <button mat-menu-item (click)="openEditDialog(row)"><mat-icon>edit</mat-icon> {{ 'ui.edit' | translate }}</button>
                      <button mat-menu-item (click)="deleteNoticeTemplate(row.id)"><mat-icon>delete</mat-icon> {{ 'ui.delete' | translate }}</button>
                      <button mat-menu-item (click)="clone(row)"><mat-icon>content_copy</mat-icon> Clone</button>
                    </mat-menu>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label><mat-icon class="ll-tab__icon">menu_book</mat-icon> {{ 'ui.userManual' | translate }}</ng-template>
            <div class="ll-tab__content"><div [innerHTML]="markdownContent"></div></div>
          </mat-tab>
        </mat-tab-group>
      }
    </mat-card-content>
  </mat-card>
</div>
